// 源码样式
@import '~@fekit/mc-tinting/theme/mc-tinting@theme=chrome.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 12px;
  margin: 0;
  padding: 1rem;
}

input {
  height: 2.5rem;
  line-height: 2.4rem;
  background: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  padding: 0 1em;
  vertical-align: middle;
}

.btn {
  height: 2.5rem;
  line-height: 2.4rem;
  background: #fafafa;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  vertical-align: middle;
}
